<!DOCTYPE html>
<html ng-app="mainApp">

<head lang="en">
  <meta charset="UTF-8">
  <title>Example ng-rating</title>
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="../bower/ng-rating.css" />
</head>

<body ng-controller="mainController">
  <ng-rating ng-model="model.grade"></ng-rating>

  <input type="text" style="width: 200px;" ng-model="model.grade" placeholder="Input score" />

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower/ng-rating.js"></script>
  <script>
    angular.module("mainApp", ["ng-rating-directive"])
    .controller("mainController", function($scope) {
      
    });
  </script>
</body>

</html>